.property-details {

  .property-details__field {
    margin-bottom: 6px;
  }

  .property-details__data {
    max-height: 120px;
    overflow-y: scroll;

    &.property-details__data--empty {
      color: red;
    }

    &.property-details__data-average-price {
      max-height: 240px;
    }
  }
}
